---
import Layout from "../layouts/Layout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Evento from "../components/Evento.astro";
---

<Layout title="Templo Transition">
	<Header />

	<div class="main">
		<ContentLayout>
			<Evento
				titulo="New Opening"
				fecha="SAB 12 OCT"
				imagen="/images/eventos/evento1.jpg"
			/>
			<Evento
				titulo="Boiler Freestyle"
				fecha="SAB 26 OCT"
				imagen="/images/eventos/evento2.jpg"
			/>
			<Evento
				titulo="Especial Retro"
				fecha="SAB 09 NOV"
				imagen="/images/eventos/evento3.jpg"
			/>
		</ContentLayout>
	</div>
	<Footer />
</Layout>

<style>
	.main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: grid;
		grid-template-columns: 20% 1fr 20%;
	}
</style>
