---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VideoHeader from "../components/VideoHeader.astro";
import ImageSlider from "../components/ImageSlider.astro";
import Footer from "../components/Footer.astro";
import Evento from "../components/Evento.astro";
---

<Layout title="Templo Transition">
	<Header />
	<VideoHeader
		videoSrc="/templo-videointro.mp4"
		title="Welcome to Astro"
		description="Explore the universe of Astro with a stunning video background."
		showTitle="false"
	/>
	<div class="main">
		<div class="sidebar sidebar--left">
			<ImageSlider />
			<ImageSlider />
			<ImageSlider />
		</div>
		<div class="content">
			<Evento
				titulo="New Opening"
				fecha="SAB 12 OCT"
				imagen="/evento1.jpg"
			/>
			<Evento
				titulo="Boiler Freestyle"
				fecha="SAB 26 OCT"
				imagen="/evento2.jpg"
			/>
			<Evento
				titulo="Especial Retro"
				fecha="SAB 09 NOV"
				imagen="/evento3.jpg"
			/>
		</div>
		<div class="sidebar sidebar--right">
			<ImageSlider />
			<ImageSlider />
			<ImageSlider />
		</div>
	</div>
	<Footer />
</Layout>

<style>
	.main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: grid;
		grid-template-columns: 20% 1fr 20%;
		border: 1px solid blue;
	}
</style>
