---
import ImageSlider from "../components/ImageSlider.astro";
---

<div class="sidebar sidebar--left">
	<ImageSlider />
	<ImageSlider />
	<ImageSlider />
</div>
<div class="content">
	<slot />
</div>
<div class="sidebar sidebar--right">
	<ImageSlider />
	<ImageSlider />
	<ImageSlider />
</div>

<style></style>
